<head>
    <title>
        <%= title %>
      </title>
</head>
<h1><%= subject %></h1>
<div id="description">Details</div>
<div id="tracksdiv">You should see some songs from <%= subject %> here soon</div>


<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/detail.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/style.css" />